<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

<div class="responsive">
<div class="containerhome">
        <header class="masthead clearfix">
        
          <div class="site-info">
             <img src="images/!.png">
            <h1 class="home-title"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="home-description">{{ site.description }}</p>
          </div>

          <nav class="home-nav">
            <a href="{{ site.baseurl }}/index">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/portfolio">Portfolio</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
           
          </nav>

          </div>